* {
  box-sizing: border-box;
}
.loginContainer {
  display: flex;
  height: 100vh; /* Full viewport height */
  max-width: 100vw; /* Full viewport width */
}

.imageContainer {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 3rem;
}

.groupImage {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.form {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 6rem;
  width: 47%;
  box-shadow: 0 15px 90px #00000008;
}

.formImage {
  position: absolute;
  top: 3rem;
}

.formContainer {
  width: 100% !important;
}

.formContainer h1 {
  color: #213f7d;
  font-weight: 700;
  font-size: 2rem;
  font-family: Avenir Bold, sans-serif;
}

.loginDetails {
  color: #545f7d;
  font-size: 21px;
}

.errorStyle {
  color: #e4033b;
  font-size: 0.8rem;
}

.errorContainer {
  background-color: #e4033b0f;
  width: 100%;
  height: 4rem;
  padding: 0.5rem 1rem;
  opacity: 70%;
  border: 2px solid rgba(84, 95, 125, 0.1490196078);
  font-family: Avenir Regular, sans-serif;
}

.formContainer input {
  width: 100%;
  padding: 0.8rem 1rem;
  opacity: 70%;
  border: 2px solid rgba(84, 95, 125, 0.1490196078);
  font-family: Avenir Regular, sans-serif;
  border-radius: 5px;
  color: #545f7d;
}
.emailInput {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  position: relative;
}

.container h6 {
  position: absolute;
  right: 1rem;
  font-family: Avenir Bold, sans-serif;
  bottom: 1rem;
  color: #39cdcc;
  margin: 0 !important;
  cursor: pointer;
}

h6 {
  color: #39cdcc;
  margin-bottom: 2rem;
}

h6:hover {
  cursor: pointer;
  text-decoration: underline;
}

button {
  width: 100%;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  border: none;
  font-family: Avenir Regular, sans-serif;
  background-color: #39cdcc;
  color: #fff;
}

button:hover {
  background-color: #2fbbba;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .imageContainer {
    display: none;
  }

  .form {
    width: 100%;
    padding: 2rem;
  }

  .formImage {
    top: 2rem;
    height: 4%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .signInImage {
    height: 12%;
  }

  .form {
    flex: none;
    padding: 1rem;
    width: 60%;
  }

  .formImage {
    display: none;
  }
}

/* Hide form image on screens larger than 1024px */
@media screen and (min-width: 1024px) {
  .formImage {
    display: none;
  }
}
